In [194]:
import pandas as pd

In [196]:
denver=pd.read_csv(r"C:\Users\karth\Downloads\Denver.csv")
boulder=pd.read_csv(r"C:\Users\karth\Downloads\Boulder.csv")
coloradosprings=pd.read_csv(r"C:\Users\karth\Downloads\Colorado Springs.csv")
fortcollins=pd.read_csv(r"C:\Users\karth\Downloads\FortCollins.csv")
pueblo=pd.read_csv(r"C:\Users\karth\Downloads\Pueblo.csv")
grandjunction=pd.read_csv(r"C:\Users\karth\Downloads\GrandJunction.csv")
durango=pd.read_csv(r"C:\Users\karth\Downloads\Durango.csv")
aspen=pd.read_csv(r"C:\Users\karth\Downloads\Aspen.csv")
greely=pd.read_csv(r"C:\Users\karth\Downloads\Greely.csv")

In [197]:
greely.head()

,YEAR,MO,DY,HR,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,PS,WS2M,WD2M,WS10M
0,2019,1,1,0,-15.48,-18.88,-17.18,0.85,73.44,0.01,82.42,1.23,102.80,1.58
1,2019,1,1,1,-15.49,-18.95,-17.23,0.85,73.00,0.01,82.41,1.38,110.59,1.76
2,2019,1,1,2,-15.63,-18.99,-17.31,0.85,73.75,0.01,82.39,1.63,128.96,2.09
3,2019,1,1,3,-15.78,-18.96,-17.38,0.85,75.00,0.01,82.35,1.68,137.64,2.15
4,2019,1,1,4,-15.92,-18.99,-17.45,0.85,75.81,0.01,82.30,1.64,138.09,2.08

In [198]:
import pandas as pd

# Define the file paths and corresponding city names
city_files = {
    'Denver': r"C:\Users\karth\Downloads\Denver.csv",
    'Greely': r"C:\Users\karth\Downloads\Greely.csv",
    'Aspen': r"C:\Users\karth\Downloads\Aspen.csv",
    'Durango': r"C:\Users\karth\Downloads\Durango.csv",
    'GrandJunction': r"C:\Users\karth\Downloads\GrandJunction.csv",
    'Pueblo': r"C:\Users\karth\Downloads\Pueblo.csv",
    'FortCollins': r"C:\Users\karth\Downloads\FortCollins.csv",
    'ColoradoSprings': r"C:\Users\karth\Downloads\Colorado Springs.csv",
    'Boulder': r"C:\Users\karth\Downloads\Boulder.csv"
}

# Initialize an empty DataFrame to hold all data
all_data = pd.DataFrame()

# Loop through each city and file, read the data, add the city name as a column, and append to the main DataFrame
for city,file_path in city_files.items():
    temp_df = pd.read_csv(file_path)
    temp_df['City'] = city  # Add city name as a new column
    all_data = pd.concat([all_data, temp_df], ignore_index=True)

In [199]:
all_data.head()

,YEAR,MO,DY,HR,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,PS,WS2M,WD2M,WS10M,City
0,2019,1,1,0,-17.25,-20.10,-18.68,0.79,76.69,0.02,78.93,1.95,38.66,2.51,Denver
1,2019,1,1,1,-17.21,-20.21,-18.71,0.79,75.56,0.02,78.95,1.31,48.88,1.66,Denver
2,2019,1,1,2,-17.06,-20.20,-18.63,0.79,74.56,0.02,78.94,0.62,66.33,0.78,Denver
3,2019,1,1,3,-16.88,-20.20,-18.53,0.79,73.25,0.02,78.88,0.39,146.31,0.50,Denver
4,2019,1,1,4,-16.53,-20.10,-18.31,0.79,71.56,0.02,78.82,0.75,178.81,1.00,Denver

In [200]:
all_data.YEAR.value_counts()

YEAR
2020    79056
2019    78840
2021    78840
2022    78840
2023    78840
2024    52920
Name: count, dtype: int64

In [206]:
all_data.shape

(447336, 15)

In [208]:
all_data[['YEAR', 'MO', 'DY', 'HR']] = all_data[['YEAR', 'MO', 'DY', 'HR']].fillna(0).astype(int)

In [216]:
all_data['timestamp'] = pd.to_datetime(
    all_data['YEAR'].astype(str) + '-' +
    all_data['MO'].astype(str).str.zfill(2) + '-' +
    all_data['DY'].astype(str).str.zfill(2) + ' ' +
    all_data['HR'].astype(str).str.zfill(2) + ':00:00'
)

# Set the timestamp as the index
all_data.set_index('timestamp', inplace=True)

In [218]:
weather_columns = ['T2M', 'T2MDEW', 'T2MWET', 'QV2M', 'RH2M', 'PRECTOTCORR', 'PS', 'WS2M', 'WD2M', 'WS10M']

# Group by the timestamp index and calculate the mean for each weather variable
average_weather = all_data[weather_columns].groupby(all_data.index).mean()

# Reset index to turn the datetime index back into a column, if you need it for further analysis
average_weather.reset_index(inplace=True)

# Print the resulting DataFrame to verify
average_weather.head()

,timestamp,T2M,T2MDEW,T2MWET,QV2M,RH2M,PRECTOTCORR,PS,WS2M,WD2M,WS10M
0,2019-01-01 00:00:00,-15.327778,-18.088889,-16.710000,1.056667,79.527778,0.135556,78.346667,2.432222,69.984444,3.665556
1,2019-01-01 01:00:00,-15.208889,-17.974444,-16.593333,1.077778,79.443333,0.154444,78.364444,2.306667,76.393333,3.514444
2,2019-01-01 02:00:00,-15.213333,-17.913333,-16.564444,1.084444,79.785556,0.142222,78.374444,2.144444,84.994444,3.283333
3,2019-01-01 03:00:00,-15.294444,-17.942222,-16.620000,1.084444,80.125556,0.112222,78.351111,2.036667,99.383333,3.136667
4,2019-01-01 04:00:00,-15.435556,-18.080000,-16.756667,1.048889,80.186667,0.084444,78.335556,1.874444,123.443333,2.885556

In [220]:
average_weather.shape

(49704, 11)

In [222]:
average_weather.to_csv(r'C:\Users\karth\Downloads\colorado_average_weather.csv', index=False)